
<div class="container">
    <h2>Salvar Contato</h2>
    <form>
        <div class="form-group">
            <label for="nome">Nome: </label>
            <input type="text" class="form-control" placeholder="Insira o nome" 
                name="nome"
                [ngModel]="contato.nome"
                (ngModelChange)="contato.nome = $event">
        </div>
        <div class="form-group">
            <label for="email">E-mail: </label>
            <input type="email" class="form-control" placeholder="Insira o e-mail" name="email"
            [(ngModel)] = "contato.email">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone: </label>
            <input type="text" class="form-control" placeholder="Insira o telefone"name="telefone"
            [(ngModel)] = "contato.telefone">
        </div>
        <button class="btn btn-success">Salvar</button>
        <a routerLink="/" class="btn btn-secondary">Voltar</a>
    </form>
    <button (click)="teste()" class="btn btn-warning"> Log </button>
</div>